@{
    ViewData["Title"] = "Account";
    ViewData["NavigationControl"] = "Account";
}

<div class="text-start mb-3">
    <h5 class="display-6 fw-semibold">Account</h5>
    <h7>Update names, etc. Reset password, subscriptions,</h7>
</div>