@{
    ViewData["Title"] = "Home";
    ViewData["NavigationControl"] = "Home";
}

<div class="text-start mb-3">
    <h5 class="display-6 fw-semibold">Dashboard</h5>
    <h7>Graphs, top errors, etc.</h7>
</div>