@{
    ViewData["Title"] = "Documentation";
    ViewData["NavigationControl"] = "Documentation";
}

<div class="text-start mb-3">
    <h5 class="display-6 fw-semibold">Documentation</h5>
    <h7>Getting started, setup, API documentation, features</h7>
</div>